.obsidian.zip
.obsidian-ocr.sqlite
.obsidian/workspace.json
.obsidian/graph.json
.obsidian/appearance.json

**/Labs
Phys HW*
Inno Books/
/OS/jojomemes/
/Optimization/Optimization assignments
/Optimization/P1-Simplex/
/Optimization/P2-Interior-points/
/Into to AI/Assignments
_*/
_*


